@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-900;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Gifting Laser Engraving Fonts */
.font-elmessiri {
  font-family: 'El Messiri', serif;
}
.font-signature {
  font-family: 'Great Vibes', cursive;
}
.font-lobster {
  font-family: 'Lobster', cursive;
}
.font-pacifico {
  font-family: 'Pacifico', cursive;
}
.font-cursive {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

